<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Login</title>
      <link rel="stylesheet" href="css/mycss.css"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>

      <div id ="example"></div>


      <script src="https://npmcdn.com/react@15.3.1/dist/react.min.js"></script>
      <script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.min.js"></script>
      <!--<script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>-->

      <!--<script src="javascript/webpack/controller.js"></script>-->
      <script src="javascript/react/controlleruglify/controller.js"></script>

  </body>

</html>